* {
    margin: 0;
}

.navigation {
    height: 15%;
    max-width: 100vw;
    background-color: yellow;
}

.intro-section {
    padding-top: 40px;
}

h1 {
    text-align: center;
    padding-bottom: 40px;
}

img {
    max-width: 80vw;
}

.main-section {
    display: flex;
    padding-top: 200px;
    justify-content: space-around;
}

article {
    width: 20vw;
    height: 20vh;
    background-color: brown;
}

footer {
    height: 15%;
    max-width: 100vw;
    background-color: yellow;
    margin-top: 80px;
}

@media screen and (min-width: 480px) and (max-width: 960px) {
    h1 {
        color: red;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        color: blue;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    article {
        margin-top: 40px;
    }

    footer {
        margin-top: 40px;
    }
}